.head {
  padding: 0 2% 2% 1%;
}

.logo {
  display: flex;
  width: 13%;
  /* padding-bottom: 2%; */
  position: absolute;
}

.all-menu {
  display: flex;
  justify-content: flex-end;
}
.menu {
  color: rgb(219, 0, 255);
  margin: 0;
  text-align: right;
  padding-top: 2%;

  font-size: 1rem;
}

.menu2 {
  padding-left: 3%;

  color: grey;
  margin: 0;
  text-align: justify;
  padding-top: 2%;
  position: relative;
  font-size: 1rem;
}
