.footer {
  color: grey;
}

p {
  font-size: 3vmax;
  color: grey;
}

.f-dec {
  font-size: 1.5vw;
  color: grey;
}

.footer img {
  height: 50px;
  margin-bottom: 10%;
  align-items: center;
  padding: 1%;
}


a{
  text-decoration: none;
  color:white;
}
a:hover {
  color: grey;
}
button {
  margin: 3%;
  padding: 0.5% 5%;
  border: 1px solid lightcoral;
  border-radius: 5px;
  background-color: rgb(219, 0, 255);
  cursor: pointer;
  transition-duration: 0.4s;
  width: fit-content;
  font-size:1.5em;
}

button:hover {
  background-color: white;
}